/* importe a fonte aqui */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* coloque o font-family adequado */
}

#nav-bar {
    /* margin-left: 1.5rem; */
    /* margin-top: 5.5rem; */
}

.cabeçalho {
    background-color: rgb(16, 46, 106);
    display:flex;
    position: relative;
    
}

#list {
    display: flex;
    justify-content: center;
}

#logo {
    width: 100px;
    margin: 0 1rem;
    margin-top: 1.5rem;
}

#user-logo {
    display: flex;
    justify-content: flex-end;
    font-size: 30pt;
    color: aliceblue;
    /* background-color: rgb(64, 90, 208); */

}

.user-btn {
    /* background-color: rgb(64, 90, 208); */
    display: flex;
    justify-content: flex-end;
}
.cores{
    background-color: rgb(97, 83, 255);
    padding: 10px;
    position: absolute;
    right:0;
    bottom: 50%;
    transform: 0 -50%;
}

a {
    margin: 0 1.5rem;
    text-decoration: none;
    font-size: 20pt;
    font-family: Comic Sans MS;
    color: rgb(255, 255, 255);
}

p {
    font-family: Comic Sans MS;
}