h1 {
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}

ol {
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
}

header {
    background-color: rgb(17, 42, 88);
    box-shadow: 2px 2px #625adb52;
    position: sticky;
    top: 0;
}

main {
    display: flex;
}

/* área dos id's */

#hora-teste {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#logo {
    width: 5%;
    margin-top: 0.5rem;
}

#nav-bar {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#nav-bar a {
    margin: 0 1.5rem;
    text-decoration: none;
    color: aliceblue;
}

#menu {
    display: flex;
    align-items: center;
    font-size: 28pt;
}

#menu:hover {
    cursor: pointer;
}

#main-txt {
    width: 80%;
    font-size: 20pt;
}

#color {
    background-color: rgb(61, 127, 196);
    padding: 0.8rem;
    display: flex;
}

#color:hover {
    background-color: rgb(36, 78, 122);
    transition: 0.5s;
    cursor: pointer;
}

#user-icon {
    display: flex;
}

#datepicker {
    display: flex;
    align-items: center;
    font-size: 20pt;
    color: aliceblue;
    background-color: #233c6c96;
    border-color: #4a6eff;
    outline: none;
}

#datepicker:hover {
    cursor: pointer;
}

/* área do class */
.conteiner {
    width: 55%;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: space-between;

}

.cabecalho p,
span {
    color: aliceblue;
}

.user-btn {
    width: 10%;
    display: flex;
    align-items: center;
}

.cabecalho p {
    display: flex;
    align-items: center;
    text-align: center;
}

.horarios p {
    background-color: rgb(17, 42, 88);
    margin: 1rem 0 0 0;
    color: aliceblue;
    font-size: 20pt;
}

.calendario p {
    font-size: 26pt;
    color: aliceblue;
}

.calendario {
    position: fixed;
    left: 65%;
    top: 50%;
    background-color: #2a3b95b8;
    box-shadow: 5px 4px #202c669e;
    padding: 2rem;
    border-radius: 14px;
    translate: 0 -50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horarios span {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.horarios p {
    display: flex;
    align-items: center;
}

.accordion {
    background-color: rgb(17, 42, 88);
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18pt;
    transition: 0.4s;
    display: flex;
    align-items: center;
}

.active,
.accordion:hover {
    background-color: rgb(27, 58, 117);
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: rgba(63, 75, 207, 0.519);
    overflow: hidden;
}