#section-cad-paciente {
    margin: 1rem;
}

#cad-user {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: absolute;
    left: 50%;
    translate: -50% 0;

}

#cad-user input, #cad-user select{
    width: 70%;
}

.form-item {
    display: flex;
    margin: 1rem;
    justify-content: space-between;
    align-items: center;
}