input[type="number"]{
    width: 35px;
    border-radius: 50%;
    height: 36px;
    text-align: center;

}

body {
    background-color: #2F4C73;
}

a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 15px;
    font-family: system-ui;
    transition: 0.4s;
}

h3 {
    text-align: center;
    color: white;
    font-family: system-ui;
}

h4 {
    color: white;
    font-size: 20px;
    font-family: system-ui;
}

p {
    color: white;
    font-size: 25px;

}

.entra {
    text-align:center ; color: white;
}

.area_login input[type="password"] {

    margin-top: 1rem;
    border-radius: 26px;
    height: 40px;
    width: 500px
    ;


}

.comeco {
    text-align: right;
     margin-left: auto; 
     padding: 5px;
}

.login form {
    /* alinhar o login */
    display: flex;
    flex-direction: column;
}

.login {
    margin: 10rem;
    background-color: #375F90;
    margin-left: 25%;
    margin-right: 25%;
    padding: 10vh;
    border-radius: 30px;
}

button {
    
    border-radius: 30px;
    width: 180px;
    height: 50px;
cursor: pointer;
font-size: 20px;
font: bold;
transition-duration: 0.4s

}

img {
    float: left;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 2%;
    border-radius: 50%;
    height: 100px;
}

button:hover {
    background-color: #4b87d0;
    color: rgb(255, 255, 255);
  }

  a:hover {

    color: #4b87d0;
  }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}