* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #f2f2f2;
  transition: background-color 0.5s;
}

.container {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: #004991;
  border-radius: 0 0 10px 10px;
}

.iconBar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
}

.logo {
  padding: 0 2rem 0 2rem;
}

.containerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu div a {
  color: white;
  text-decoration: none;
  padding: 0 3rem 0 3rem;
  font-size: larger;
}

.login input {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: rgba(250, 250, 250, 0.7);
  cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffd000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-radius: 0 10px 0 0;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
