<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav> <!-- links de navegacao aqui -->
            <nav><a href="#">Home</a></nav>
            <nav><a href="#">Sobre</a></nav>
            <nav><a href="#">Serviços</a></nav>
            <nav><a href="#">Noticias</a></nav>
            <nav><a href="#">Fale conosco</a></nav>
        </nav> <!-- links de navegacao aqui -->
    </header>

    <main> <!-- conteudo principal aqui -->
        
    </main> <!-- conteudo principal aqui -->

    <footer>
        <!-- rodape aqui -->
    </footer>
    <!-- chamar os js aqui embaixo -->
    
</body>
</html>