<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <img src="img/icon do proj integrador.png" alt="">
    <h2 style="color: white; display: inline-block; vertical-align: top; margin-top: 3%;  margin-right: 3%;">ESPERANÇA &
        <br>
        SAÚDE
    </h2>


    <nav><!-- navegadores -->
        <div class="comeco">
            <a href="#">Home |</a>
            <a href="#">Sobre |</a>
            <a href="#">Serviços |</a>
            <a href="#">Noticias |</a>
            <a href="#">Fale Conosco</a>

        </div>
        <br>
    </nav>

    <div class="entra">
        <hr><b>Faça login em sua conta</b>
        <hr>
    </div>



    <br><br><br>

    <section class="area_login">
        <div class="login">
            <div>
                <h3>Entrar</h3>

                <form method="post">

                    <input type="text" name="numero" placeholder="Digite seu CPF" maxlength="14" autocomplete="off" autofocus required >
                    <input type="password" name="senha" placeholder="Digite sua senha" required>



                    <h4>Esqueceu sua senha ?<a href="/views/senha.html">Redefinir</a> </h4>
                    <button>Avançar</button>




                </form>



            </div>

        </div>

    </section>

 <script src="/js/login.js"></script>
</body>

</html>