<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperação 1etapa</title>
    <link rel="stylesheet" href="/css/senha.css">
</head>

<body>
    <img src="img/icon do proj integrador.png" alt="">
    <h2 style="color: white; display: inline-block; vertical-align: top; margin-top: 3%;  margin-right: 3%;">ESPERANÇA &
        <br>
        SAÚDE
    </h2>


    <nav><!-- navegadores -->
        <div class="comeco">
            <a href="#">Home |</a>
            <a href="#">Sobre |</a>
            <a href="#">Serviços |</a>
            <a href="#">Noticias |</a>
            <a href="#">Fale Conosco</a>

        </div>
        <br>
    </nav>

    <div class="entra">
        <hr><b>RECUPERAÇÃO DE SENHA</b>
        <hr>
    </div>



    <br><br><br>

    <section class="area_login">
        <div class="login">
            <div>

                <form>
                    <fieldset>
                            <input class="num" type="number" value="" required>
                            <input class="num" type="number" value="" required>
                            <input class="num" type="number" value="" required>
                            <input class="num" type="number" value="" required>
                        </div>

                        <h4>Não recebeu o código de confirmação? Reenvia</h4>

                        <button onclick="window.open('/views/recsenha.html');">Avançar</button>
                    </fieldset>
                </form>



            </div>

        </div>

    </section>
</body>
<script src="/js/ver.js"></script>

</html>